#### Task 2-
 -resample the data
    - Convert the time serie to datetime format 
    - resample the data resample('1min')
    - convert to csv

In [ ]:

# - df -detail67
# - df2 - detailvol
# - df3 - detailTemp

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('detail.csv')

In [4]:
df2=pd.read_csv('detailVol.csv')

In [5]:
df3=pd.read_csv('detailTemp.csv')

In [6]:
df.head()

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,2020-10-10 20:03:43

In [7]:
df2.head()

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,0,1,Rest,0:00:00.000,2020-10-10 20:03:39,-0.0013,0
1,1,2,Rest,0:00:01.000,2020-10-10 20:03:40,-0.0013,0
2,2,3,Rest,0:00:02.000,2020-10-10 20:03:41,-0.0013,0
3,3,4,Rest,0:00:03.000,2020-10-10 20:03:42,-0.0013,0
4,4,5,Rest,0:00:04.000,2020-10-10 20:03:43,-0.0012,0

In [9]:
df3

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 T(°C),Gap of Temperature
0,0,1,Rest,0:00:00.000,2020-10-10 20:03:39,27.7,0
1,1,2,Rest,0:00:01.000,2020-10-10 20:03:40,27.7,0
2,2,3,Rest,0:00:02.000,2020-10-10 20:03:41,27.7,0
3,3,4,Rest,0:00:03.000,2020-10-10 20:03:42,27.7,0
4,4,5,Rest,0:00:04.000,2020-10-10 20:03:43,27.7,0
...,...,...,...,...,...,...,...
416676,23466,458630,Rest,0:09:56.000,2020-10-16 03:25:35,28.4,0
416677,23467,458631,Rest,0:09:57.000,2020-10-16 03:25:36,28.4,0
416678,23468,458632,Rest,0:09:58.000,2020-10-16 03:25:37,28.4,0
416679,23469,458633,Rest,0:09:59.000,2020-10-16 03:25:38,28.4,0
416680,23470,458634,Rest,0:10:00.000,2020-10-16 03:25:39,28.4,0

In [10]:
df.dtypes

Unnamed: 0                     int64
Record Index                   int64
Status                        object
JumpTo                         int64
Cycle                          int64
Step                           int64
Cur(mA)                      float64
Voltage(V)                   float64
CapaCity(mAh)                float64
Energy(mWh)                  float64
Relative Time(h:min:s.ms)     object
Absolute Time                 object
dtype: object

In [11]:
df['Status'].unique()

array(['Rest', 'CCCV_DChg', 'CCCV_Chg'], dtype=object)

In [12]:
from sklearn import preprocessing
l=preprocessing.LabelEncoder()
l.fit(df['Status'])
df['Status']=l.transform(df['Status'])

In [13]:
df['Status']

0         2
1         2
2         2
3         2
4         2
         ..
416676    2
416677    2
416678    2
416679    2
416680    2
Name: Status, Length: 416681, dtype: int32

In [14]:
df2['Step Name'].unique()

array(['Rest', 'CCCV_DChg', 'CCCV_Chg'], dtype=object)

In [15]:
df3['Step Name'].unique()

array(['Rest', 'CCCV_DChg', 'CCCV_Chg'], dtype=object)

In [16]:
l=preprocessing.LabelEncoder()
l.fit(df2['Step Name'])
df2['Step Name']=l.transform(df2['Step Name'])

In [17]:
l=preprocessing.LabelEncoder()
l.fit(df3['Step Name'])
df3['Step Name']=l.transform(df3['Step Name'])

In [18]:
df2.dtypes

Unnamed: 0                      int64
Record ID                       int64
Step Name                       int32
Relative Time(h:min:s.ms)      object
Realtime                       object
Auxiliary channel TU1 U(V)    float64
Gap of Voltage                  int64
dtype: object

In [19]:
df3.dtypes

Unnamed: 0                       int64
Record ID                        int64
Step Name                        int32
Relative Time(h:min:s.ms)       object
Realtime                        object
Auxiliary channel TU1 T(°C)    float64
Gap of Temperature               int64
dtype: object

#### Converting a sample data of Absolute time into datetime format

In [21]:
x=df['Absolute Time'][0]

In [22]:
df['Absolute Time'][1]

'2020-10-10 20:03:40'

In [24]:
from datetime import datetime

In [25]:
datex = datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

In [26]:
type(datex)

datetime.datetime

#### df- Absolute time Detail_67 to datetime

In [27]:
for i in range(len(df)):
    df['Absolute Time'][i]= datetime.strptime(df['Absolute Time'][i],'%Y-%m-%d %H:%M:%S')

<ipython-input-27-02b22b88f914>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Absolute Time'][i]= datetime.strptime(df['Absolute Time'][i],'%Y-%m-%d %H:%M:%S')

In [28]:
df['Absolute Time'][4]

datetime.datetime(2020, 10, 10, 20, 3, 43)

In [ ]:
stopped

#### df- Relative time Detail_67 to datetime

In [55]:
for i in range(len(df)):
    df['Relative Time(h:min:s.ms)'][i]= datetime.strptime(df['Relative Time(h:min:s.ms)'][i],'%H:%M:%S.%f')

<ipython-input-55-bb5afd1dfa5c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Relative Time(h:min:s.ms)'][i]= datetime.strptime(df['Relative Time(h:min:s.ms)'][i],'%H:%M:%S.%f')

#### df2- Real time  DetailVol_

In [30]:
for i in range(len(df2)):
    df2['Realtime'][i]= datetime.strptime(df2['Realtime'][i],'%Y-%m-%d %H:%M:%S')

<ipython-input-30-aa546223fed0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Realtime'][i]= datetime.strptime(df2['Realtime'][i],'%Y-%m-%d %H:%M:%S')

#### df2- Relative time  DetailVol_

In [83]:
for i in range(len(df2)):
    df2['Relative Time(h:min:s.ms)'][i]= datetime.strptime(df2['Relative Time(h:min:s.ms)'][i],'%H:%M:%S.%f')

#### df3- Real time DetailTemp_

In [ ]:
for i in range(len(df3)):
    df3['Realtime'][i]= datetime.strptime(df3['Realtime'][i],'%Y-%m-%d %H:%M:%S')

In [ ]:
#### df3- Relative time DetailTemp_

In [ ]:
for i in range(len(df3)):
    df3['Relative Time(h:min:s.ms)'][i]= datetime.strptime(df3['Relative Time(h:min:s.ms)'][i],'%H:%M:%S.%f')

#### resampling Detail67, DetailVol,DetailTemp
- Downsampling : resample at lower rate

In [73]:
dfmin=df.resample('1Min',on='Absolute Time').mean().dropna()

In [74]:
dfmin

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh)
Absolute Time,,,,,,,,,,
2020-10-10 20:03:00,11.0,12.0,1.347826,2.391304,1.0,2.391304,-567.456522,3.523887,1.103388,3.852566
2020-10-10 20:04:00,52.5,53.5,1.000000,3.000000,1.0,3.000000,-870.100000,3.445677,10.755394,37.277079
2020-10-10 20:05:00,112.5,113.5,1.000000,3.000000,1.0,3.000000,-870.100000,3.390738,25.257193,86.840222
2020-10-10 20:06:00,172.5,173.5,1.000000,3.000000,1.0,3.000000,-870.100000,3.332892,39.759002,135.602305
2020-10-10 20:07:00,232.5,233.5,1.000000,3.000000,1.0,3.000000,-870.100000,3.261232,54.260813,183.437343
...,...,...,...,...,...,...,...,...,...,...
2020-10-16 03:21:00,23220.5,458384.5,2.000000,108.000000,21.0,83.000000,0.000000,3.585902,0.000000,0.000000
2020-10-16 03:22:00,23280.5,458444.5,2.000000,108.000000,21.0,83.000000,0.000000,3.585710,0.000000,0.000000
2020-10-16 03:23:00,23340.5,458504.5,2.000000,108.000000,21.0,83.000000,0.000000,3.585620,0.000000,0.000000
2020-10-16 03:24:00,23400.5,458564.5,2.000000,108.000000,21.0,83.000000,0.000000,3.585570,0.000000,0.000000
2020-10-16 03:25:00,23450.5,458614.5,2.000000,108.000000,21.0,83.000000,0.000000,3.585480,0.000000,0.000000

In [68]:
df2min=df2.resample('1Min',on='Realtime').mean().dropna()

In [76]:
df2min

,Unnamed: 0,Record ID,Step Name,Auxiliary channel TU1 U(V),Gap of Voltage
Realtime,,,,,
2020-10-10 20:03:00,11.0,12.0,1.347826,-0.001296,0.0
2020-10-10 20:04:00,52.5,53.5,1.000000,-0.001270,0.0
2020-10-10 20:05:00,112.5,113.5,1.000000,-0.001282,0.0
2020-10-10 20:06:00,172.5,173.5,1.000000,-0.001287,0.0
2020-10-10 20:07:00,232.5,233.5,1.000000,-0.001275,0.0
...,...,...,...,...,...
2020-10-16 03:21:00,23220.5,458384.5,2.000000,-0.001200,0.0
2020-10-16 03:22:00,23280.5,458444.5,2.000000,-0.001200,0.0
2020-10-16 03:23:00,23340.5,458504.5,2.000000,-0.001200,0.0
2020-10-16 03:24:00,23400.5,458564.5,2.000000,-0.001200,0.0
2020-10-16 03:25:00,23450.5,458614.5,2.000000,-0.001200,0.0

In [79]:
df3min=df3.resample('1Min',on='Realtime').mean().dropna()

In [70]:
#dfrel=df2.resample('1Min',on='Relative Time(h:min:s.ms)').mean()

In [ ]:
#ds=df.resample('1min')

#### Converting to csv

In [80]:
dfmin.to_csv('detailDownSampled')

In [84]:
df2min.to_csv('detailVolDownSampled')

In [82]:
df3min.to_csv('detailTempDownSampled')